{
  "presets": ["env", "react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "assembler": "./src/assembler",
          "client": "./src/client",
          "server": "./src/server",
          "simulator": "./src/simulator",
          "architecture": "./src/architecture",
          "test": "./src/test"
        }
      }
    ],
    ["transform-object-rest-spread"]
  ]
}
