/* Global styles */
@import '~antd/dist/antd.css';
/* App styles */
/* RegistryView styles */
.aceEditor_wrapper {
  display: flex;
}

#container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px auto 50px;
  grid-template-columns: auto 270px;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}

#container > header {
  grid-area: header;
  display: flex;
  padding-left: 20px;
  align-self: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}


#container > aside {
  grid-area: aside;
  background-color: white;
}
#container > footer {
  grid-area: footer;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-top: 1px solid rgba(0,0,0,0.3);
}
#container > main {
  grid-area: main;
}