.HexView {
  display: grid;
  grid-template-columns: 70px 200px 95px;
}

.HexView_Wrapper {
  overflow: scroll;
  overflow-x: hidden;
  height: 300px;
  flex-grow: 1;
  margin-right: -20px;
}

.HexView_ByteView {
}

.HexView_ByteView span {
  padding-right: 0.5em;
  display: inline-block;
}
.HexView_ByteView span:nth-child(4n) {
  padding-right: 1em;
}

.HewView_AddressView {
}

.HewView_AddressView span {
  font-size: 13px;
  display: inline-block;
  min-width: 8px;
}

.HewView_Preview {
}

.HewView_Preview span {
  font-size: 13px;
  display: inline-block;
  min-width: 8px;
}
.HewView_Preview span:nth-child(4n) {
  padding-right: 1em;
}

.HewView_Preview-nonPrintable {
  color: rgb(90, 90, 90);
} 