

.registryView_wrapper {
  font-family: monospace;
}



.registryView_registers {
  display: grid;
  column-gap: 5px;
  row-gap: 2px;
  grid-template-columns: repeat(auto-fill, minmax(30px,1fr) minmax(60px,2fr));
}


.registryView_registers > input {
  border: none;
  border-bottom: 1px solid var(--border-color);
  background-color: transparent;
  text-align: right;
}


.registryView_registers > span {
  text-align: right;
}